
src/__pycache__/

src/app/__pycache__/

src/app/services/__pycache__/

src/app/controllers/__pycache__/

tests/integration/__pycache__/

.venv/bin/

*.typed

.venv/lib/

*.h

*.pyc

.venv/share/doc/networkx-2.8.8/examples/drawing/

.venv/lib/python3.10/site-packages/yarl/

.venv/share/doc/networkx-2.8.8/

.venv/lib/python3.10/site-packages/yarl-1.20.0.dist-info/

.venv/lib/python3.10/site-packages/yaml/

.venv/share/man/man1/

.venv/

src/app/utils/core/output/

src/app/utils/core/tmp/

src/output/
